:root {
  --text-primary: #ffdfdf
}

html, body{
  height:100%;
  margin:0;
  display: flex;
  flex-direction: column;
}

h3 {
  font-size: 20px;
}

.font {
  position: relative;
}

.mark-outsider {
  position: fixed;
  top: 0;
  left: 0;
  image-rendering: pixelated;
  z-index: 98;
}

.navbar {
  position: relative;
  z-index: 1000;
}

@keyframes cambiaImagen {
  0% {
    background-image: url(../img/foto1.jpg);
  }
  50% {
    background-image: url(../img/foto2.jpg);
  }
  100% {
    background-image: url(../img/foto3.jpg);
  }
}

@media (max-width: 768px) {
  .font {
    top: 2rem !important;
    right: 0% !important;
  }
}